.ui.unstackable.table{
  width: 1450px;

  border: none !important;
  border-collapse: separate;
  border-spacing: 0;
}

.ui.table tr:first-child td {
  border: .5px solid #707070;
  border-style: solid none;
  box-shadow: 0 3px 3px #dfe8f329;
}

tr:first-child td:first-child {
  border-left: .5px solid #707070 !important;
  border-top-left-radius: 10px;
}

td.product-wrapper {
  max-width: 273px;
}

.holder-checkbox {
  text-align: center;
}

td.common-check {
  padding: .78571429em .285714em;
  max-width: 30px;
}

.pop-up-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  height: 65px;
}

td.common-data {
  padding: .18571429em .78571429em;
  min-width: 15px;
  height: 100px;

  text-align: center !important;
  
  &:last-child {
    padding: 0 .78571429em !important;  
  }
}

.icon-wrapper {
  display: flex;
}

tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-right: .5px solid #707070 !important;
  border-bottom-right-radius: 10px;
}

tr:first-child td {
  border-top-style: solid;
}

tr td:first-child {
  border-left-style: solid;
}


* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tbl-title {
  margin-bottom: 0;

  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #5381db;
}

.title-sub-wrapper {
  display: flex;
  flex-direction: column;

  .img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-wrapper {
    img {
      margin-right: 8px;
    }
  }
}

.product-holder {
  display: flex;
  align-items: center;

  .product-img {
    margin-right: 15px;
  }
}

.common-data {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@include respond-to(xl) {
  .table-wrapper {
    overflow-x: scroll;
  }
}

@include respond-to(lg-down) {
  .table-wrapper {
    overflow-x: scroll;
  }
}